.navbar-lang {   
    background-color: blue;
    height: 80px;
    position: fixed;
    text-align: center; /* Centra il testo orizzontalmente */
    width: 100%; /* Imposta la larghezza al 100% per coprire l'intera larghezza */
    display: flex; /* Usa Flexbox per centrare verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
 
}

.navbar-text {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 2em;
    color: white !important; /* Forza il colore del testo */
}

.navbar-text:hover{
    font-size: 2.4em;
}


.navbar-lang:hover {
    background-color: red; /* Cambia il colore di sfondo al passaggio del mouse */
}

