.main-div{
   
    background-color: rgba(15, 14, 14, 0.219);
    height: 100vh; /* Occupa l'intera altezza del viewport */
    display: flex; /* Se desideri utilizzare Flexbox */
    flex-direction: column; /* Disposizione verticale degli elementi */


}

.container-add{
    background-image: url('https://images.creativefabrica.com/products/previews/2024/05/17/1LM2nNgy9/2gaT7N40TcuGifVdZaVfqqbsq1i-desktop.jpg');
    border-radius: 25px;
    height: 20vh;
    text-align: center;
    margin-top: 95px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-position: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.container-list{
    background-image: url('https://img.freepik.com/vettori-premium/elenco-o-lista-di-controllo-da-eseguire_135595-76748.jpg?semt=ais_hybrid');
    border-radius: 25px;
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-position: center;
    width: 1000px;
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
   
}

.container-menu{
    background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p1/8558928-pulsante-menu-principale-menu-principale-testo-banner-web-modello-segno-icona-banner-vettoriale.jpg');
    border-radius: 25px;
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-position: center;
    width: 1000px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

}
.scritta{
    font-size: 2.7em !important;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.add-text{
    color: black;
}


.list-text{
    color: red

}

.container-menu:hover{
    border: 3px solid rgb(197, 79, 114)
    ;
    width: 1100px;
    height: 23vh;
    cursor: pointer;
}

.container-list:hover{
    border: 3px solid rgb(0, 255, 55);
    width: 1100px;
    height: 23vh;
    cursor: pointer;
}

.container-add:hover{
    border: 3px solid black;
    width: 1100px;
    height: 23vh;
    cursor: pointer;
}