.list-date-div{
    background-color: rgba(15, 14, 14, 0.219);
    height: 100vh; /* Occupa l'intera altezza del viewport */
    display: flex; /* Se desideri utilizzare Flexbox */
    flex-direction: column; /* Disposizione verticale degli elementi */
    justify-content: center;
    align-items: center;
 
}

/* Stile per la tabella */
table {
    width: 100%; /* Larghezza al 100% */
    border-collapse: collapse; /* Rimuove gli spazi tra le celle */
    margin-top: 20px; /* Spaziatura sopra la tabella */
}

/* Stile per le intestazioni della tabella */
thead {
    background-color: #007bff; /* Colore di sfondo blu */
    color: white; /* Colore del testo bianco */
}

th, td {
    padding: 12px; /* Spaziatura interna */
    text-align: left; /* Allineamento a sinistra */
    border-bottom: 1px solid #dee2e6; /* Bordo inferiore grigio chiaro */
}

/* Stile per le righe della tabella */
tbody tr:hover {
    background-color: #f1f1f1; /* Colore di sfondo al passaggio del mouse */
}

/* Stile per i pulsanti */
.btn {
    padding: 8px 12px; /* Spaziatura interna */
    border: none; /* Nessun bordo */
    border-radius: 4px; /* Angoli arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

.btn-primary {
    background-color: #007bff; /* Colore blu */
    color: white; /* Colore del testo bianco */
}

.btn-primary:hover {
    background-color: #0056b3; /* Colore blu scuro al passaggio del mouse */
}

.btn-danger {
    background-color: #dc3545; /* Colore rosso */
    color: white; /* Colore del testo bianco */
}

.btn-danger:hover {
    background-color: #c82333; /* Colore rosso scuro al passaggio del mouse */
}

.btn-info {
    background-color: #17a2b8; /* Colore turchese */
    color: white; /* Colore del testo bianco */
}

.btn-info:hover {
    background-color: #138496; /* Colore turchese scuro al passaggio del mouse */
}

.btn-menu{
    margin-top: 40px;
    background-color: black;
    width: 180px;
    height: 60px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 13px;
    border: none;


}

.btn-menu:hover{
    color: red;
    background-color: blue;
    font-size: 1.3em;
    width: 190px;
    border: none;
}